/***Sections de la page d'accueil***/
.sectionaccueil{
	flex-direction: row;
	flex-wrap: wrap;
}

.sectionaccueil:last-child{
	padding-bottom:15px;
}

.sectionaccueil h2{
	background-color:rgb(45, 45, 45);
	padding: 0.25em 0.5em;
	color:white;
	margin:15px 0px;
	font-family: 'Federo', 'Times New Roman', serif;
}

/***Message d'accueil***/
.container .sectionaccueil p{
	margin:0px 15%;
	text-align:justify;
	font-size:16pt;
	font-family:'Dosis', Helvetica, sans-serif;
}

cite{
	font-style: normal;
}

.sectionaccueil blockquote{
	margin:1em 25%;
	font-size:14pt;
	text-align: justify;
}

@media screen and (max-width: 950px) {
	.container .sectionaccueil p{
		margin:0px 10%;
	}
}

/***Conteneur des boîtes***/
.boxes{
	padding: 0 10px;
}

/***boîtes***/
.box{
	float:left;
	width : 17%;
	margin: 5px 10px;
	border-radius: 15px;
	position:relative;
}

@media screen and (max-width: 545px) {
	.box{
		width : 95%;
	}
}

@media screen and (min-width:545px) and (max-width: 657px) {
	.box{
		width :46%;
	}
}

@media screen and (min-width:657px) and (max-width: 910px) {
	.box{
		width :28%;
	}
}

.box img{
	width:100%;
	object-fit: cover;
  	border-radius: 15px;
  	display:block;
  	
}

/**Texte des boîtes**/

.infos{
  	position: absolute;
  	top: 50%;
  	transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
}

.opaque .infos p{
	color: rgb(255,255,255);
	font-family: 'Dosis', Helvetica, sans-serif;
	font-size: 12pt;
	margin:auto;
}

.opaque{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgb(75, 75, 75);
	border-radius: 15px;
	align-content: space-around;
}

/**Apparition du texte des boîtes**/
.box:hover .opaque{
	opacity: 1;
}

.container img:hover, .box:hover{
	box-shadow: 0 0 15px rgba(0,0,0,.9);
}

@media screen and (max-width: 1000px) {
	.infos{
	  	margin-left: 55px;
	}
	.container p{
		font-size:14px;
	}
}

@media screen and (min-width: 1000px) {
	.infos{
	  	margin-left: 70px;
	}
	.container p{
		font-size:16px;
	}
}
