/*** Fond du conteneur ***/
.container{
	background-image:url("../imgs/icons/high-heel.png");
	background-size:10%;
}

/*** Message ***/
#work{
	color:white;
	text-align: center;
	width:90%;
	height:55px;
	margin-top: 2em;
	padding-top:.75em;
	background: linear-gradient(rgba(45,45,45,.8), rgba(45,45,45,.7)60%, rgba(45,45,45,.3));
	border: solid thin rgb(45,45,45);
	border-radius: 3px;
	font-family: 'Federo', 'Times New Roman', serif;
	font-size: 20pt;
}

	

main a{
	height:90px;
}