/*body--------------------------------------------------------------------*/
body{
	width: 97.5%;
	margin: 0 auto 1.25%;
	background-color: rgb(130, 35, 5);
	background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
	repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
	repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
}

/*contenant du site-------------------------------------------------------*/
#wrap{
	margin: auto;
	max-width: 1300px;
}

/*header*/
/*------------------------------------------------------------------------*/
/*logo*/
#logo{
	position:relative;
	margin: 0.70em auto -0.25em;
	padding: 0.5em 0.20em;
	width: 6.5em;
	z-index:2;
	border: double thick white;
	border-radius: .3em;
	background-color: rgb(0, 0, 0);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
	font-family: 'Poiret One', sans-serif;
    font-size: 60px;
	text-align: center;
	color: rgb(255, 255, 255);
}

/*ruban sous le logo*/
#ribbon{
	position: relative;
	width: 22em;
	padding: 0.8em 1.5em; 
	margin: 0 auto 3em;
	background-color: rgb(75, 75, 75);
	color: rgb(255, 255, 255);
	text-align: center;
	font-family: 'Poiret One', sans-serif;
	font-size: 32px;
}

#ribbon:before, #ribbon:after{
 	content: "";
 	position: absolute;
 	display: block;
 	bottom: -1em;
 	border: 1.5em solid rgb(45, 45, 45);
 	z-index: -1;
}

#ribbon:before{
 	left: -2em;
	border-right-width: 1.5em;
	border-left-color: transparent;
}

#ribbon:after{
 	right: -2em;
	border-left-width: 1.5em;
	border-right-color: transparent;
}

#ribbon #ribbon-content:before, #ribbon #ribbon-content:after{
 	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: rgb(60,60,60) transparent transparent transparent;
	bottom: -1em;
}

#ribbon #ribbon-content:before{
	left: 0;
	border-width: 1em 0 0 1em;
	z-index: 0;
}

#ribbon #ribbon-content:after {
	right: 0;
	border-width: 1em 1em 0 0;
	z-index: 0;
}

/*params pour largeur d'écran inférieure à 657px*/
@media screen and (max-width: 657px) {
	/*logo*/
	#logo{
	    font-size: 28px;
	}

	/*bandeau sous le logo*/
	#ribbon{
		width: 13em;
		font-size: 18px;
	}
}

/*params pour largeur d'écran entre 657px et 950px*/
@media screen and (min-width:657px) and (max-width: 950px) {
	/*logo*/
	#logo{
	    font-size: 36px;
	}

	/*bandeau sous le logo*/
	#ribbon{
		width: 18em;
		font-size: 24px;
	}

	/*message du jour*/
	#messagejour p{
		margin:0px 10%;
	}
}
/*------------------------------------------------------------------------*/


/*main*/
/*------------------------------------------------------------------------*/
main{
	box-shadow: 0px 3px 5px rgba(0, 0, 0, .5);
	color: white;
	font-family: 'Dosis', Helvetica, sans-serif;
}

/*menu*/
/*------------------------------------------------------------------------*/
	.menu{
		background-color: rgb(225, 115, 30);
		border-top-left-radius: 15px;
		box-shadow: 5px 0px 7.5px rgba(0, 0, 0, .25);
		z-index:2;
	}

	.menu ul{
		margin: 0 0 auto -30px;
		display: flex;
		flex-direction: column;
	}

	.menu li:first-child{
		padding: 0.75em 0 0.5em;
	}

	.menu li{
		padding: 0.25em 0 0.5em;
		border-bottom : medium dotted rgb(120,50,5);
		list-style: none;
		font-family: 'Federo', 'Times New Roman', serif;
		font-size: 24px;
	}

	.menu img{
		margin: 0.25em 0.75em 0 0;
		height:24px;
		float: right;
	}

	@media screen and (min-width:1080px){
		#search input{
			width:75%;
		}
	}

	@media screen and (min-width:657px) and (max-width: 1080px) {
		#search input{
			width:60%;
		}
	}

	@media screen and (max-width:657px){
		#search input{
			width:80%;
		}
	}
/*----------------------------------------------------------------------*/

/*Contenant principal*/

.container{
	width: 100%;
	display: flex;
	border-top-right-radius: 15px;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: rgb(175, 35, 5);
	align-content: space-around;
	z-index:1;
}







@media screen and (min-width:657px){
	main{
		display: flex;
	}

	.menu{
		width:250px;
	}
}

@media screen and (max-width:657px){
	main{
		text-align: center;
	}
}
/*---------------------------------------------------------------------*/

/*footer*/
/*---------------------------------------------------------------------*/
footer{
	background-color: rgb(45, 45, 45);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding:2%;
	color: white;
}

/*params pour largeur écran supérieure à 690px*/
@media screen and (min-width: 725px) {
	footer nav{
		display: flex;
		justify-content: space-between;
	}
}

/*menu du footer*/
dl{
	padding: 0 1.5em;
	margin: 0.5em 1em 1em;
	border-left: solid thin white;	
}

dt{
	padding: 0.35em 0 0.25em;
	font-family: 'Federo', 'Times New Roman', serif;
}

dd{
	margin-left: 0.5em;
	font-family: 'Dosis', Helvetica, sans-serif;
}
/*---------------------------------------------------------------------*/
/*fin footer*/


/*autres*/
/*---------------------------------------------------------------------*/
/*liens*/
a{
	text-decoration:none;
	color:inherit;
}