/*** Bandeau du conteneur principal***/
.container h2 {
    background-color: rgb(45, 45, 45);
    padding: 0.25em 0;
    color: white;
    margin: 15px 0px;
    font-family: 'Federo', sans-serif;
    width: 100%;
}



/***Conteneur secondaire*/
.basket{
	text-align:center;
	margin: auto 2%;
	padding-top: .25em;
	border-radius:15px;
	background-color: rgb(225, 115, 30);
	background-image:url(imgs/icons/high-heel.png);
	background-size:10%;
	height:70%;
}

.basket h3{
	padding: .25em;
	font-size:20pt;
	color: white;
	font-family: 'Federo', sans-serif;
	background-color: rgb(75, 75, 75);
}